<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}
    {% block custom_js %}
<script src="{% static 'dashboard/js/general.js' %}" defer></script>
    {% endblock %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Project Types' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Add Project Types' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">{% trans 'Project Types' %}</h1>
                <p>{% trans 'Here you can add new project types' %}</p>
<div class="card-light">
  <div class="card-body">
    <h5 class="card-title">Please Add your project types details here</h5>
  <form class="card-form" action="" method="post">
      {% csrf_token %}
  <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.name|as_crispy_field}}
    </div>
  </div>
        <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.arabic_name|as_crispy_field}}
    </div>
  </div>
       <div class="col-auto">
    <button type="submit" class="btn btn-primary mr-3 ">{% trans 'Add Type' %}</button>
    <button type="button" class="btn btn-danger" id="clear">{% trans 'Clear' %}</button>

  </div>
</form>
  </div>
</div>
{% endblock content %}
