<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% block title %}
{{title}}
{% endblock title %}

         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Project Types' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Edit Project Types' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">{% trans 'Edit Project Types' %}</h1>
<div class="card ">
  <div class="card-body">
    <h5 class="card-title">Please Add your project types details here</h5>
       <form class="card-form" action="" method="post">
           {% csrf_token %}

    <div class="col-sm-6">
          {{form.name|as_crispy_field}}
    </div>

               <div class="col-auto mt-5">
    <button type="submit" class="btn btn-primary ">{% trans 'Edit Type' %}</button>
  </div>
       </form>
  </div>
</div>

{% endblock content %}
