<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Working Fields' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Add Working Field' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">{% trans 'Add Working Field' %}</h1>
<div class="card ">
  <div class="card-body">
    <h5 class="card-title">Please Add your contact number details here</h5>
  <form class="card-form" method="post" action="">
      {% csrf_token %}
  <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.field_name|as_crispy_field}}
    </div>
  </div>
       <div class="col-auto">
    <button type="submit" class="btn btn-primary ">{% trans 'Add Working Field' %}</button>
  </div>
</form>
  </div>
</div>

{% endblock content %}
