<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load mathfilters %}
{% block title %}
{{title}}
{% endblock title %}
  {% block custom_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/search.css' %}">
    {% endblock %}
   {% block custom_js %}
<script src="{% static 'dashboard/js/search.js' %}" defer></script>
  {{ data_js|json_script:"my-data" }}
    {% endblock %}
         {% block breadcrumb_content %}
<nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Address' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'States' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Edit States' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">{% trans 'Edit States' %}</h1>
                     <div class="col-auto">
<form class="row g-2 mb-3" action="" method="post" id="searchForm" autocomplete="off">
    {% csrf_token %}
  <div class="col-3" id="search_phrase_holder">
    <label for="searchPhrase" class="visually-hidden">{% trans 'Search Phrase' %}</label>
    <input type="text" class="form-control" name="search_phrase" id="searchPhrase" placeholder="Search ..">
          <span class="delete-warning" id="search_phrase_error"></span>
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" id="searchButton" value="state">{% trans 'Search' %}</button>
    <button type="submit" name="clear" value="clear" class="btn btn-danger mb-3">{% trans 'Clear Search' %}</button>

  </div>
</form>
    </div>
  {% if  search and not search_error %}
<h2>{% trans 'Showing Search Results For ' %}</h2>
<h3>{{search_option}}="{{search_phrase}}"</h3>
{% endif %}
{% if all_states_data|length %}
      <div class="row">
                    <div class="col-12 col-xl-11 mb-4 mb-lg-0">
                        <div class="card-light card-dark">
                            <h5 class="card-header-light card-header-dark">{% trans 'States' %}</h5>
                            <div class="card-body-light card-body-dark">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">{% trans 'Name' %}</th>
                                            <th scope="col">{% trans 'Country' %}</th>
                                            <th scope="col">{% trans 'Number of Cities' %}</th>
                                            <th scope="col">{% trans 'Update' %}</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for state in all_states_data %}
                                          <tr>
                                            <th scope="row">{{state.name}}</th>
                                            <td>{{ state.country }}</td>
                                            <td>{{ state.num_cities }}</td>
                                            <td><a href="{% url 'editState' slug=state.slug %}" class="btn btn-sm btn-primary">{% trans 'Update' %}</a></td>
                                          </tr>
                                        {% endfor %}

                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
 <div class="container mt-3 d-flex justify-content-center">
        <nav aria-label="Pagination Navigation">
          <ul class="pagination">
           <li class="page-item {% if current_page == 1 %} disabled disabled-item {% endif %}">
            <a class="page-link" href="?page={{ current_page|sub:1 }}" aria-label="Previous">
             <span aria-hidden="true">«</span>
             <span class="sr-only">Previous</span>
            </a>
           </li>
               {% if page_range|length != 1 %}
           {% for i in page_range %}
           <li class="page-item {% if i == current_page %} active {% endif %}"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
           {% endfor %}
                 {% endif %}

           <li class="page-item {% if current_page == num_pages %} disabled disabled-item {% endif %}">
            <a class="page-link" href="?page={{ current_page|add:1 }}" aria-label="Next">
             <span aria-hidden="true">»</span>
             <span class="sr-only">Next</span>
            </a>
           </li>
          </ul>
       </nav>
  </div>
{% endif %}
{% if all_states_data|length == 0 and not search %}
<h3 class="delete-warning">{% trans 'There is no states yet .. you can add new ones from ' %} <a href="{% url 'addStates' %}">{% trans 'Here' %}</a></h3>
{% endif %}
{% if search and search_result.count == 0 %}
<h3 class="delete-warning">{% trans 'Sorry no states found that matches your search!' %}</h3>
{% endif %}
{% endblock content %}
