<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load mathfilters %}
{% block title %}
{{title}}
{% endblock title %}
  {% block custom_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/search.css' %}">
<link rel="stylesheet" href="{% static 'orders/css/order.css' %}">
    {% endblock %}
   {% block custom_js %}
<script src="{% static 'dashboard/js/search.js' %}" defer></script>
  {{ data_js|json_script:"my-data" }}
    {% endblock %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Orders' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Order Details' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2 mb-3">{% trans 'Order Report' %}</h1>
<form class="row g-2 mb-3" action="" method="post" id="searchForm" autocomplete="off">
    {% csrf_token %}
  <div class="col-sm-3 col-md-3 col-lg-3">
<!--            <input hidden type="text" name="create-order-report" value="{{order.slug}}" >-->
<!--          <input type="submit" value="submit" class="btn btn-success mb-3 fas fa-file-csv">-->
      <button type="submit" class="btn btn-success mb-3" name="create-order-report" id="searchButton" value="{{order.slug}}"  title="{{create_report_tip}}"><span><i class="fas fa-file-csv"></i></span></button>

  </div>
</form>

<!-- creating order template -->
<!-- ==== Order Status ==== -->
<div>
<div>
    <div>
<form action="" method="post" class="row g-2 mb-3" id="order-status">
  {% csrf_token %}
    <div>
        <h2>{% trans 'Order Status' %}</h2>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
                         <div id="div_id_status" class="form-group">

            <label for="order_status" class=" requiredField">
                Order Status<span class="asteriskField">*</span>
            </label>
                <div class="">
<select class="form-select" id="order_status" name="order_status" aria-label="Default select example">
  {% for val,name in order_statuses %}
    {% if val == order.status %}
            <option value="{{val}}" selected>{{name}}</option>

    {% else %}
            <option value="{{val}}" >{{name}}</option>

    {% endif %}
             {% endfor %}
</select>
                </div>

    </div>

    </div>

           <div class="col-sm-3 col-md-3 col-lg-3">
    <input type="submit" class="btn btn-primary mr-3 order-update-button" name="update_order" value="{% trans 'Update' %}">
  </div>
</form>
</div>
</div>
</div>
<!-- ==================== -->
<!-- ==== user details ==== -->
<div>
    <h2>User Details</h2>
     <div class="row mt-3 mb-5">
                    <div class="col-12 col-xl-10 mb-4 mb-lg-0">
                        <div class="card-light card-dark">
                            <div class="card-body-light card-body-dark orders-table">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">{% trans 'Full Username' %}</th>
                                            <th scope="col">{% trans 'Phone Number' %}</th>
                                            <th scope="col">{% trans 'Email' %}</th>
                                            <th scope="col">{% trans 'Organization' %}</th>

                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">{{ order.user.full_name }}</th>
                                            <th scope="row">{{ order.user.phone_number }}</th>
                                            <th scope="row">{{ order.user.email }}</th>
                                            <th scope="row">{{ order.user.organization }}</th>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
</div>
<!-- ========================= -->
<!-- == order details === -->
{% if carts|length %}
   <h2>Order Details</h2>
 <div class="row">
                    <div class="col-12 col-xl-10 mb-4 mb-lg-0">
                        <div class="card-light card-dark">
                            <div class="card-body-light card-body-dark orders-table">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">{% trans 'Product Name' %}</th>
                                            <th scope="col">{% trans 'Product Price' %}</th>
                                            <th scope="col">{% trans 'Quantity' %}</th>
                                            <th scope="col">{% trans 'Total' %}</th>

                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for cart in carts %}
                                          <tr>
                                            <th scope="row">{{cart.product.name}}</th>
                                            <th scope="row">{{cart.product.price}}</th>
                                            <th scope="row">{{cart.quantity}}</th>
                                            <th scope="row">{% widthratio cart.quantity 1 cart.product.price %}</th>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
<!-- total -->
<div><strong>{% trans 'Total: '%}</strong></div>
<div><strong>{{total}}</strong></div>
<!-- ==== -->
{% else %}
<div>
    {% trans 'There are no products ordered' %}
</div>
{% endif %}
<!-- ===================== -->
<!--==========================-->
{% endblock content %}
