<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load mathfilters %}
{% block title %}
{{title}}
{% endblock title %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/search.css' %}">
{% endblock %}
   {% block custom_js %}
<script src="{% static 'dashboard/js/search.js' %}" defer></script>
{{ data_js|json_script:"my-data" }}
    {% endblock %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Users' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Edit Users' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">{% trans 'Edit Users' %}</h1>

<form class="row g-2 mb-3" action="" method="post" id="searchForm" autocomplete="off">
    {% csrf_token %}
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label for="searchPhrase" class="visually-hidden">{% trans 'Search Phrase' %}</label>
    <input type="text" class="form-control" name="search_phrase" id="searchPhrase" placeholder="Search ..">
        <span style="display:none;" class="delete-warning" id="search_phrase_error"></span>
  </div>

    <div class="col-sm-3 col-md-3 col-lg-3 ">
    <select class="form-select search-select" id="searchBy" name="search_options" aria-label="Default select example">
  <option selected value="none">{% trans 'Search By' %}</option>
  <option value="full_name">{% trans 'Full Name' %}</option>
  <option value="username">{% trans 'Username' %}</option>
  <option value="organization">{% trans 'Organization' %}</option>
  <option value="phone_number">{% trans 'Phone Number' %}</option>
</select>
        <span class="delete-warning" id="selection_error"></span>
    </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <button type="submit" class="btn btn-primary mb-3 mr-1 ml-1" id="searchButton" title="{{search_users_tip}}"><span><i class="fas fa-search"></i></span></button>
    <button type="submit" name="clear" value="clear" class="btn btn-danger mb-3 mr-1 ml-1" title="{{clear_search_tip}}"><span><i class="fas fa-eraser"></i></span></button>
 </div>

</form>

   {% if  search and not search_error %}
<h2>{% trans 'Showing Search Results For ' %}</h2>
<h3>{{search_option}}="{{search_phrase}}"</h3>
{% endif %}

{% if all_users_data|length > 0 %}
  <div class="row">
                    <div class="col-12 col-xl-11 mb-4 mb-lg-0 making-content-centralized">
                        <div class="card-light card-dark">
                            <h5 class="card-header-light card-header-dark">{% trans 'Users' %}</h5>
                            <div class="card-body-light card-body-dark">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">{% trans 'Full Name' %}</th>
                                            <th scope="col">{% trans 'Username' %}</th>
                                            <th scope="col">{% trans 'Organization' %}</th>
                                            <th scope="col">{% trans 'Phone Number' %}</th>
                                            <th scope="col">{% trans 'Last Login' %}</th>
                                            <th scope="col">{% trans 'Update' %}</th>

                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in all_users_data %}
                                          <tr>
                                            <th scope="row">{{user.full_name}}</th>
                                            <td>{{user.username}}</td>
                                            <td>{{user.organization}}</td>
                                            <td>0{{user.phone_number}}</td>
                                            <td>{{user.last_login}}</td>
                                            <td><a href="{% url 'editUser' slug=user.slug %}" class="btn btn-sm btn-primary">Update</a></td>
                                          </tr>
                                        {% endfor %}

                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
 <div class="container mt-3 d-flex justify-content-center">
        <nav aria-label="Pagination Navigation">
          <ul class="pagination">
           <li class="page-item {% if current_page == 1 %} disabled disabled-item {% endif %}">
            <a class="page-link" href="?page={{ current_page|sub:1 }}" aria-label="Previous">
             <span aria-hidden="true">«</span>
             <span class="sr-only">Previous</span>
            </a>
           </li>
              {% if page_range|length != 1 %}
           {% for i in page_range %}
           <li class="page-item {% if i == current_page %} active {% endif %}"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
           {% endfor %}
                 {% endif %}

           <li class="page-item {% if current_page == num_pages %} disabled disabled-item {% endif %}">
            <a class="page-link" href="?page={{ current_page|add:1 }}" aria-label="Next">
             <span aria-hidden="true">»</span>
             <span class="sr-only">Next</span>
            </a>
           </li>
          </ul>
       </nav>
  </div>
{% endif %}
{% if all_users_data|length == 0 and not search %}
<h3 class="delete-warning">{% trans 'There is no users yet .. you can add new ones from ' %} <a href="{% url 'addUsers' %}">{% trans 'Here' %}</a></h3>
{% endif %}

{% if search and search_result.count == 0 and search_result != "" %}
<h3 class="delete-warning">{% trans 'Sorry No Users found that matches your search!' %}</h3>
{% endif %}
{% endblock content %}
