<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load mathfilters %}
{% load static i18n %}
{% block title %}
{{title}}
{% endblock title %}

 {% block custom_js %}
<script src="{% static 'dashboard/js/search.js' %}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js" integrity="sha512-uLlukEfSLB7gWRBvzpDnLGvzNUluF19IDEdUoyGAtaO0MVSBsQ+g3qhLRL3GTVoEzKpc24rVT6X1Pr5fmsShBg==" crossorigin="anonymous" referrerpolicy="no-referrer" type="module"></script>
{{ data_js|json_script:"my-data" }}
<script src="{% static 'admin_panel/js/handle_products_charts.js' %}" defer type="module"></script>
<script src="{% static 'admin_panel/js/clear_form.js' %}" defer type="module"></script>

{% endblock %}

         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Views Reports' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Orders Views' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">{% trans 'Orders Views' %}</h1>

<form class="row g-2 mb-3" action="" method="post" id="searchForm" autocomplete="off">
    {% csrf_token %}


             <div class="col-sm-3 col-md-3 col-lg-3">
    <select class="form-select search-select search-box" id="searchBy" name="search_options" aria-label="Default select example">
  <option selected value="none">{% trans 'Search By' %}</option>
  <option value="placed_orders">{% trans 'Placed Orders' %}</option>
  <option value="uncompleted_orders">{% trans 'Uncompleted Orders' %}</option>
</select>
                <span class="delete-warning" id="selection_error"></span>

    </div>



  <div class="col-sm-3 col-md-3 col-lg-3">
     <button type="submit" class="btn btn-primary mb-3" id="searchButton" title="{{search_orders_views_tip}}"><span><i class="fas fa-search"></i></span></button>
    <button type="button" name="clear" value="clear" class="btn btn-danger mb-3" id="clear" title="{{clear_search_tip}}"><span><i class="fas fa-eraser"></i></span></button>
  {% if object_list|length > 0  %}
   <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#exportData" title="{{create_report_tip}}"><span><i class="fas fa-file-csv"></i></span></button>
{% endif %}
  </div>
</form>

{% include 'admin_panel/includes/view_mode.html' %}

    <div>
        <div class="modal fade" id="exportData" tabindex="-1" aria-labelledby="exampleModalData" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalData">{% trans 'Export To Excel File' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="" method="post">
            {% csrf_token %}
      <div class="modal-body">
             <h5 class="mt-3"> {% trans 'Export All Pages' %}</h5>
          <i>{% trans '(By default all pages will be exported)' %}</i>
          <div class="form-check">
          <label for="allData-report" >{%  trans 'All Pages' %}</label>
          <input id="allData-report" class="form-check-input" type="checkbox" value="allData" name="allData">
          </div>


<div>
    <h5 class="mt-4">{% trans 'Or Export Selected Pages Only' %}</h5>

<div class="pages-range">
                 {% for i in page_range %}

              <div class="form-check">
          <label for="select{{i}}" >page{{i}}</label>
          <input id="select{{i}}" class="form-check-input page-js" type="checkbox" value="{{i}}" name="subData">

          </div>

                 {% endfor %}
    </div>
      <input hidden type="text" name="pages_collector" id="pages_collector" value="none">


    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" name="createExcel" value="done">Save</button>

      </div>
              </form>
    </div>
  </div>
</div>

    </div>

  {% if  search and not search_error %}
<h2>{% trans 'Showing Search Results For ' %}</h2>
<h3>{{search_option}}="{{search_phrase}}"</h3>
{% endif %}
{% if orders_views_list|length %}
<div class="row card-group">

 <div class="row" id="defaultView">
                    <div class="col-12 col-xl-11 mb-4 mb-lg-0">
                        <div class="card-light card-dark">
                            <h5 class="card-header-light card-header-dark">{% trans 'Orders Views' %}</h5>
                            <div class="card-body-light card-body-dark">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">{% trans 'Number of Orders' %}</th>
                                            <th scope="col">{% trans 'Order Status' %}</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for view_item  in orders_views_list %}

                                          <tr>
                                            <th scope="row">{{view_item.num_orders}}</th>
                                            <th scope="row">{{view_item.is_order_placed}}</th>

                                          </tr>

                                        {% endfor %}

                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
    <canvas id="chartsView" hidden ></canvas>
</div>
{% include 'dashboard/global_includes/pagination_code.html' %}
{% endif %}
{% if orders_views_list|length == 0 and not search %}
<h3 class="delete-warning">{% trans 'There are no views yet' %}</h3>
{% endif %}
{% if search and search_result.count == 0 and search_result != "" %}
<h3 class="delete-warning">{% trans 'Sorry no views found that matches your search!' %}</h3>
{% endif %}

{% endblock content %}
