<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load mathfilters %}
{% block title %}
{{title}}
{% endblock title %}
  {% block custom_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/search.css' %}">
<link rel="stylesheet" href="{% static 'orders/css/order.css' %}">
    {% endblock %}
   {% block custom_js %}
<script src="{% static 'dashboard/js/search.js' %}" defer></script>
  {{ data_js|json_script:"my-data" }}
    {% endblock %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Orders' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'All Orders' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2 mb-3">{% trans 'All Orders' %}</h1>
<form class="row g-2 mb-3" action="" method="post" id="searchForm" autocomplete="off">
    {% csrf_token %}
  <div class="col-sm-3 col-md-3 col-lg-3">
   <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#exportData"><span><i class="fas fa-file-csv"></i></span></button>
  </div>
</form>
    <div>
        <div class="modal fade" id="exportData" tabindex="-1" aria-labelledby="exampleModalData" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalData">{% trans 'Export To Excel File' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="" method="post">
            {% csrf_token %}
      <div class="modal-body">

             <h5 class="mt-3"> {% trans 'Export All Pages' %}</h5>
          <i>{% trans '(By default all pages will be exported)' %}</i>
          <div class="form-check">
          <label for="allData-report" >{%  trans 'All Pages' %}</label>
          <input id="allData-report" class="form-check-input" type="checkbox" value="allData" name="allData">
          </div>


<div>
    <h5 class="mt-4">{% trans 'Or Export Selected Pages Only' %}</h5>

<div class="pages-range">
                 {% for i in page_range %}

              <div class="form-check">
          <label for="select{{i}}" >page{{i}}</label>
          <input id="select{{i}}" class="form-check-input page-js" type="checkbox" value="{{i}}" name="subData">

          </div>

                 {% endfor %}
    </div>
      <input hidden type="text" name="pages_collector" id="pages_collector" value="none">


    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" name="createExcel" value="done">Save</button>

      </div>
              </form>
    </div>
  </div>
</div>

    </div>
<!-- creating order template -->
<!-- ==== Order Status ==== -->
<div>
<div>
<form action="" method="post">
  {% csrf_token %}
    <div>
        <h2>{% trans 'Order Status' %}</h2>
        <div>{{order.status}}</div>
    </div>
      <div class="mb-4 row">
    <div class="col-sm-6">
                         <div id="div_id_status" class="form-group">

            <label for="order_status" class=" requiredField">
                Order Status<span class="asteriskField">*</span>
            </label>
                <div class="">
<select class="form-select" id="order_status" name="order_status" aria-label="Default select example">
  {% for val,name in order_statuses %}
    {% if val == order.status %}
            <option value="{{val}}" selected>{{name}}</option>

    {% else %}
            <option value="{{val}}" >{{name}}</option>

    {% endif %}
             {% endfor %}
</select>
                </div>

    </div>

    </div>
  </div>
           <div class="col-auto">
    <button type="submit" class="btn btn-primary mr-3">{% trans 'Update' %}</button>
  </div>
</form>
</div>
</div>
<!-- ==================== -->
<!-- ==== user details ==== -->
<div>
    <h2>User Details</h2>
    <div>{% trans 'Full Username' %}</div>
    <div>{{ order.user.full_name }}</div>
    <div>{% trans 'Phone Number' %}</div>
    <div>{{ order.user.phone_number }}</div>
    <div>{% trans 'Email' %}</div>
    <div>{{ order.user.email }}</div>
</div>
<!-- ========================= -->
<!-- == order details === -->
{% if carts|length %}
   <h2>Order Details</h2>
 <div class="row">
                    <div class="col-12 col-xl-10 mb-4 mb-lg-0">
                        <div class="card-light card-dark">
                            <div class="card-body-light card-body-dark orders-table">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">{% trans 'Product Name' %}</th>
                                            <th scope="col">{% trans 'Product Price' %}</th>
                                            <th scope="col">{% trans 'Quantity' %}</th>
                                            <th scope="col">{% trans 'Total' %}</th>

                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for cart in carts %}
                                          <tr>
                                            <th scope="row">{{cart.product.name}}</th>
                                            <th scope="row">{{cart.product.price}}</th>
                                            <th scope="row">{{cart.quantity}}</th>
                                            <th scope="row">{% widthratio cart.quantity 1 cart.product.price %}</th>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
<!-- total -->
<div>{% trans 'Total: '%}</div>
<div>{{total}}</div>
<!-- ==== -->
{% else %}
<div>
    {% trans 'There are no products ordered' %}
</div>
{% endif %}
<!-- ===================== -->
<!--==========================-->
{% endblock content %}
