<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Users' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Add Users' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">Add New User</h1>
                <p>{% trans 'Here you can add users to the system' %}</p>
<div class="card ">
  <div class="card-body">
    <h5 class="card-title">Please Add your product details here</h5>
  <form class="card-form" action="" method="post">
      {% csrf_token %}
  <div class="mb-4 row">
    <div class="col-sm-6">
                          {{form.username|as_crispy_field}}

    </div>
  </div>
       <div class="mb-4 row">
    <div class="col-sm-6">
         {{form.email|as_crispy_field}}

    </div>
  </div>
  <div class="mb-4 row">
    <div class="col-sm-6">
          {{form.full_name|as_crispy_field}}
    </div>
  </div>
        <div class="mb-4 row">
    <div class="col-sm-6">
          {{form.gender|as_crispy_field}}
    </div>
  </div>
              <div class="mb-4 row">
    <div class="col-sm-6">
          {{form.phone_number|as_crispy_field}}
    </div>
  </div>
              <div class="mb-4 row">
             <div class="col-sm-6">
        {{form.organization|as_crispy_field}}
             </div>

  </div>
                    <div class="mb-4 row">
             <div class="col-sm-6">

          {{form.working_field|as_crispy_field}}

             </div>
  </div>
        <div class="mb-4 row">
             <div class="col-sm-6">

          {{form.working|as_crispy_field}}

             </div>
  </div>
                        <div class="mb-4 row">
             <div class="col-sm-6">

          {{form.password|as_crispy_field}}

             </div>
  </div>
                        <div class="mb-4 row">
             <div class="col-sm-6">

          {{form.city|as_crispy_field}}

             </div>
  </div>
                         <div class="mb-4 row">
             <div class="col-sm-6">

          {{form.admin|as_crispy_field}}

             </div>
  </div>


       <div class="col-auto">
    <button type="submit" class="btn btn-primary ">{% trans 'Register User' %}</button>
  </div>
</form>
  </div>
</div>


{% endblock content %}
