<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}
{% block custom_css %}
     <link rel="stylesheet" href="{% static 'dashboard/css/login.css' %}">

{% endblock %}
 {% block custom_js %}
<script src="{% static 'dashboard/js/login.js' %}" defer></script>
{{ data_js|json_script:"my-data" }}
{% endblock %}
{% block content %}

<div class="parent">
<div  id="one">
 <h1>{% trans 'Forgot your password?' %}</h1>
  <p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    {% if form.errors %}
<div class="alert alert-danger">
      {{invalid_login}}
</div>
{% endif %}
    </div>
   <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!">
  </form>

</div>
{% endblock content %}