<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Projects' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Edit Project' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">Edit Project</h1>
                <p>{% trans 'This is the projects of Uniseal Company' %}</p>
<div class="card ">
  <div class="card-body">
    <h5 class="card-title">Please Add your project details here</h5>
  <form class="card-form" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
  <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.name|as_crispy_field}}
    </div>
  </div>
                 <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.execution_date|as_crispy_field}}
    </div>
  </div>
             <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.project_type|as_crispy_field}}
    </div>
  </div>
       <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.main_material|as_crispy_field}}
    </div>
  </div>
        <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.beneficiary|as_crispy_field}}
    </div>
  </div>
            <div class="mb-4 row">
    <div class="col-sm-6">
                     {{form.beneficiary_description|as_crispy_field}}

    </div>
  </div>
            <div class="mb-4 row">
    <div class="col-sm-6">
                     {{form.image|as_crispy_field}}
    </div>
  </div>
                  <div class="mb-4 row">
    <div class="col-sm-6">
  {{form.description|as_crispy_field}}

    </div>
  </div>

       <div class="col-auto">
    <button type="submit" class="btn btn-primary ">{% trans 'Update Project' %}</button>
  </div>
</form>
  </div>
</div>

{% endblock content %}
