<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% block title %}
{{title}}
{% endblock title %}
 {% block custom_css %}
    <link rel="stylesheet"  href="{% static 'project/css/project_images.css' %}">
    <link rel="stylesheet" href="{% static 'project/css/project.css' %}">
    {% endblock %}
  {% block custom_js %}
 <script src="{% static 'project/js/project_images.js' %}" defer ></script>
    {% endblock %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'projects' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'project Images' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
<div class="col-auto">
<form class="row g-2 mb-3" action="" method="post" id="searchForm" autocomplete="off">
    {% csrf_token %}
    <div class="col-3">
    <select class="form-select search-select" id="searchBy" name="search_options" aria-label="Default select example">
  <option selected value="none">{% trans '-- Select Project --' %}</option>
        {% for project in allProjects %}
          <option value="{{project.slug}}">{{project.name}}</option>
        {% endfor %}

</select>
                <span style="display:none;color:red;" id="selection_error"></span>

    </div>


  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" id="searchButton" value="search_project" name="search_project">{% trans 'View Images' %}</button>

  </div>
</form>



    </div>
{% if project_data %}
<div class="row card-group">
  {% if project_images|length > 1 %}
   <h1 class="h2">{% trans 'Images for ' %}{{project_data.name}}</h1>

{% for key,value in project_images.items %}
<form class=" row" method="post" action="" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
 <div class="col-4">
                <div class="card mb-5 ml-2" >
  <img class="card-img-top card-image-project image-js" src="{{value}}" alt="Card image cap">
  <div class="card-body">
<div class="form-check form-check-inline">
  <input class="form-check-input input-default-js collect-default-image-js" type="checkbox" id="inlineCheckbox2"  value="{{value}}"  name="set_default" {% if key == True %} checked {% endif %}>
  <label class="form-check-label" for="inlineCheckbox2">{% trans 'Set As Default Image?' %}</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input input-delete-js collect-deleted-images-js" type="checkbox" id="inlineCheckbox"  value="{{value}}"  name="delete_image" {% if key == True %} disabled {% endif %} >
  <label class="form-check-label delete-project-img" for="inlineCheckbox">{% trans 'Delete Image?' %}</label>
</div>

  </div>
</div>
 </div>

  {% endfor %}

  {% else %}
    <h1 class="h2">{% trans 'Image for ' %}{{project_data.name}}</h1>

   <div class="col-4">
                <div class="card mb-5 ml-2" >
  <img class="card-img-top card-image-project image-js" src="{{project_original_image}}" alt="Card image cap">
  <div class="card-body">

<div class="form-check form-check-inline">
  <input class="form-check-input input-default-js collect-default-image-js " type="checkbox" id="inlineCheckbox3" value="{{value}}" name="set_default" checked>
  <label class="form-check-label " for="inlineCheckbox3">{% trans 'Set As Default Image?' %}</label>

</div>
<div class="form-check form-check-inline">
  <input class="form-check-input input-delete-js collect-deleted-images-js" type="checkbox"  id="inlineCheckbox1"  value="{{value}}"  name="delete_image">
  <label class="form-check-label delete-project-img" for="inlineCheckbox1">{% trans 'Delete Image?' %}</label>
</div>

  </div>
</div>
 </div>

  {% endif %}
 <div class="col-4">



                     <div class="card mb-5 ml-2" >
                         <figure class="snip1572">
  <img src="{% static 'product/img/addImage.png' %}" class="card-img-top" alt="sample102" />
  <figcaption>
    <h3>{% trans 'Add Image' %}</h3>
  </figcaption>
  <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
</figure>


</div>
 </div>
             <div >
       <input hidden type="text" name="deleted_images" id="deleted_images" value="none">
      <input hidden type="text" name="default_images" id="default_images" value="none">

<!--    <button type="submit" class="btn btn-primary" name="updating_images">{% trans 'Update' %}</button>-->
    <button type="button" class="btn btn-primary" name="updating_images" id="updating_images" data-bs-toggle="modal" data-bs-target="#confirmModal">{% trans 'Update' %}</button>
  </div>
       </form>
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">{% trans 'Confirm Updates' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <form class="card-form" enctype="multipart/form-data" method="post">
             {% csrf_token %}

          <h3 style="display:none;" id="default_image">{% trans 'Are You Sure You want to set this image as the default Image?' %}</h3>
          <div id="confirm-default-image">

          </div>
          <h3 style="display:none;" id="delete_images">{% trans 'Are You Sure You want to delete these images?' %}</h3>
           <div class="confirm-deleted-images" id="confirm-delete-images">

          </div>
          <h3 style="display:none;" id="delete_image">{% trans 'Are You Sure You want to delete this image?' %}</h3>
           <div id="confirm-delete-image">

          </div>
                <div class="modal-footer">
                        <input hidden type="text" name="posted_deleted_images" id="posted_deleted_images" value="none">
      <input hidden type="text" name="posted_default_image" id="posted_default_image" value="none">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
        <button type="submit" class="btn btn-primary" value="confirm_changes" name="confirm_changes">{% trans 'Confirm Changes' %}</button>
      </div>
         </form>

      </div>


    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Add New project Image' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h3>{% trans 'You can add multiple images' %}</h3>
         <form class="card-form" enctype="multipart/form-data" method="post">
             {% csrf_token %}
  <div class="mb-4 row">
    <div class="col-sm-6">

                     <div class="mb-3">
                         <div class="col-sm-6">
             {{form.image|as_crispy_field}}
                             <div id="new-images-js">

  </div>
    </div>
<!--  <label for="exampleFormControlInput1" class="form-label">project Image</label>-->
<!--  <input type="file" class="form-control" id="exampleFormControlInput1" multiple="multiple">-->
</div>
         <div class="mb-3">
                <div class="col-sm-6">
                 <select class="form-select search-select" id="id_project" name="project"  aria-label="Default select example" hidden>
        {% for project in allProjects %}
                     {% if slug == project.slug %}
                               <option value="{{project.pk}}" selected>{{project.name}}</option>

                     {% else %}
                               <option value="{{project.pk}}">{{project.name}}</option>

                     {% endif %}
        {% endfor %}

</select>
    </div>
         </div>

    </div>
  </div>
               <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
        <button type="submit" class="btn btn-primary" value="add_images" name="add_images">{% trans 'Save changes'%}</button>
      </div>
         </form>
      </div>

    </div>
  </div>
</div>
</div>
{% else %}
<h3>{% trans 'Please choose a project to view its images' %}</h3>
{% endif %}
{% endblock %}