<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}
 {% block custom_css %}
    <link rel="stylesheet"  href="{% static 'product/css/product.css' %}">
    {% endblock %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Company Info' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Company Main Information' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
<div>
    <h1 class="h2 mb-3">{% trans 'Company Details' %}</h1>

<!--Images of product-->
<div class="mb-5">

    <h2>{{company_data.company_name}}</h2>
    <h5>{% trans 'Located at: ' %} {{company_data.main_address}}</h5>

</div>

<div class="mb-3">
    <h4>{% trans 'Company Email' %}</h4>
    <p>{{company_data.email}}</p>
</div>
    <div class="mb-3">
    <h4>{% trans 'Company Phone Number' %}</h4>
    <p>{{company_data.phone_number}}</p>
</div>
    <div class="mb-3">
    <h4>{% trans 'Company Location' %}</h4>
    <p>{{company_data.country}},&nbsp;{{company_data.state}},&nbsp;{{company_data.city}}</p>
</div>
     <div class="mb-3">
    <h4>{% trans 'Company Website' %}</h4>
         <p>{{company_data.website}}</p>
</div>
      <div class="mb-3">
    <h4>{% trans 'Company Social Networks' %}</h4>
         <span>{% trans 'Facebook:' %}</span><p>{{company_data.facebook}}</p>
         <span>{% trans 'Twitter:' %}</span><p>{{company_data.twitter}}</p>
         <span>{% trans 'Linked In:' %}</span><p>{{company_data.linkedin}}</p>
         <span>{% trans 'Instagram:' %}</span><p>{{company_data.instagram}}</p>


</div>
    <div class="row">
           <div class="col-sm-6">
           <a href="{% url 'EditCompanyDetails' %}" class="btn btn-primary mr-3">Update</a>
</div>
</div>
</div>
{% endblock content %}