<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load mathfilters %}
{% load static i18n %}
{% block title %}
{{title}}
{% endblock title %}
  {% block custom_css %}
    <link rel="stylesheet" href="{% static 'product/css/product.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/search.css' %}">
    {% endblock %}
   {% block custom_js %}
<script src="{% static 'dashboard/js/top_products.js' %}" defer></script>
<script src="{% static 'dashboard/js/search.js' %}" defer></script>


  {{ data_js|json_script:"my-data" }}
    {% endblock %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Products' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Top Products' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">{% trans 'Top Products' %}</h1>
<div class="col-auto">
<form class="row g-2 mb-3" action="" method="post" id="searchForm" autocomplete="off">
    {% csrf_token %}
  <div class="col-3">
    <label for="searchPhrase" class="visually-hidden">{% trans 'Search Phrase' %}</label>
    <input type="text" class="form-control" name="search_phrase" id="searchPhrase" placeholder="Search ..">
          <span class="delete-warning" id="search_phrase_error"></span>
  </div>

    <div class="col-3">
    <select class="form-select search-select" id="searchBy" name="search_options" aria-label="Default select example">
  <option selected value="none">{% trans 'Search By' %}</option>
  <option value="top_products">{% trans 'Top Products' %}</option>
  <option value="product">{% trans 'Product Name' %}</option>
  <option value="category">{% trans 'Category Name' %}</option>
  <option value="supplier">{% trans 'Supplier Name' %}</option>

</select>
                <span class="delete-warning" id="selection_error"></span>

    </div>
  <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3" id="searchButton" title="{{search_products_tip}}"><span><i class="fas fa-search"></i></span></button>
    <button type="submit" name="clear" value="clear" class="btn btn-danger mb-3" title="{{clear_search_tip}}"><span><i class="fas fa-eraser"></i></span></button>

  </div>
</form>



    </div>
  {% if  search and not search_error %}
<h2>{% trans 'Showing Search Results For ' %}</h2>
<h3>{{search_option}}="{{search_phrase}}"</h3>
{% else %}
<h3>{% trans 'Displaying '%}{{displaying_type}}</h3>
{% endif %}

{% if all_products_data|length %}
<div class="row card-group">
  <form class="card-form row" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
{% for product in all_products_data %}

 <div class="col-sm col-md-5 col-lg-4">
                <div class="card-light mb-5 ml-2" >
  <img class="card-img-top card-image-product" src="{{product.image.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">
        {% trans 'Category:' %} {{product.category}}
    </p>
      <p class="card-text">
        {% trans 'Supplier:' %} {{product.supplier.name}}
    </p>
      {% if product.is_top %}
<div class="form-check form-check-inline">
  <input class="form-check-input collect-top-product-js" type="checkbox" id="inlineCheckbox2"  value="{{product.id}}"  name="set_default" checked>
  <label class="form-check-label" for="inlineCheckbox2">{% trans 'Top Product' %}</label>
</div>
      {% else %}
      <div class="form-check form-check-inline">
  <input class="form-check-input selected-top-product-js" type="checkbox" id="inlineCheckbox"  value="{{product.id}}"  name="set_default" >
  <label class="form-check-label" for="inlineCheckbox2">{% trans 'Top Product' %}</label>
</div>
      {% endif %}
  </div>
</div>
 </div>

{% endfor %}
             <input hidden type="text" name="selected_top_products" id="selected_top_products" value="none">
      <input hidden type="text" name="deleted_top_products" id="deleted_top_products" value="none">

      <div class="row">
          <div class="col-auto">
                        <button type="submit" class="btn btn-primary" name="updating_top_products" value="updating_top_products">{% trans 'Update' %}</button>

          </div>
      </div>


  </form>
</div>

{% endif %}
{% if all_products_data|length == 0 and not search %}
<h3 class="delete-warning">{% trans 'There is no products yet .. you can add new ones from ' %} <a href="{% url 'addProducts' %}">{% trans 'Here' %}</a></h3>
{% endif %}
{% if search and search_result.count == 0 and search_result != "" %}
<h3 class="delete-warning">{{not_found}}</h3>
{% endif %}
{% endblock content %}
