{% load static i18n %}
{% load static %}
{% block custom_css %}
<link rel= "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" href="{% static 'dashboard/css/search.css' %}">
    {% endblock %}
   {% block custom_js %}
<script src="{% static 'dashboard/js/search.js' %}" defer></script>
<script type= "text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js" defer></script>
<script src="{% static 'dashboard/js/date_picker_search.js' %}" defer></script>
  {{ data_js|json_script:"my-data" }}
    {% endblock %}

<form class="row g-2 mb-3" action="" method="post" id="searchForm" autocomplete="off">
    {% csrf_token %}


           <div class="col-sm-3 col-md-3 col-lg-3"  id="search_phrase_date_holder">
            <label for="searchPhraseDateOffer" class="visually-hidden">{% trans 'Search Phrase' %}</label>
           <input type= "text" class="form-control" id="searchPhraseDateOffer" name="search_phrase_date" placeholder="Select Date">
          <span class="delete-warning" id="search_phrase_date_error"></span>
     </div>


    <div class="col-sm-3 col-md-3 col-lg-3">
    <select class="form-select search-select" id="searchBy" name="search_options" aria-label="Default select example">
  <option selected value="none">{% trans 'Search By' %}</option>
  <option value="start_date">{% trans 'Start Date' %}</option>
  <option value="end_date">{% trans 'End Date' %}</option>
</select>
                <span class="delete-warning" id="selection_error"></span>

    </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
     <button type="submit" class="btn btn-primary mb-3" id="searchButton" title="{{search_offers_tip}}"><span><i class="fas fa-search"></i></span></button>
    <button type="submit" name="clear" value="clear" class="btn btn-danger mb-3" title="{{clear_search_tip}}"><span><i class="fas fa-eraser"></i></span></button>
   <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#exportData" title="{{create_report_tip}}"><span><i class="fas fa-file-csv"></i></span></button>

  </div>
</form>
