<!DOCTYPE html>
{% load static %}
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <title>{% block title %}{% endblock title %}</title>


    <link rel="stylesheet" href="{% static 'dashboard/css/index.css' %}">
    <link rel="stylesheet" id="theme" href="{% static 'dashboard/css/dark-theme.css' %}">
<!--    &lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

<!--    &lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->

    {% block custom_css %}
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="{% static 'dashboard/js/index.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


</head>
<body>
    <nav class="navbar nav-light nav-dark p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand-light navbar-brand-dark" href="{% url 'dashboard' %}">
                Uniseal Dashboard
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-12 col-md-4 col-lg-2">
            <input class="form-control form-control-dark search-field-light search-field-dark" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="dropdown">
                <button class="btn" id="btn-mode" style="color:gray">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>

                </button>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                  Hello, John Doe
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Messages</a></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block nav-light nav-dark sidebar collapse ">
                <div class="position-sticky nav-items-div">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link-light nav-link-dark {{dashboard}}" aria-current="page" href="{% url 'dashboard' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span class="ml-2">{% trans 'Dashboard' %}</span>
                          </a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                          <a class="nav-link-light nav-link-dark" href="#">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>-->
<!--                            <span class="ml-2">{% trans 'Orders' %}</span>-->
<!--                          </a>-->
<!--                        </li>-->
      <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                            <span class="ml-2">{% trans 'Products' %}</span>
        </a>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <li class="nav-item">
                <a href="{% url 'allProducts' %}" class="nav-link-light nav-link-dark {{all_products}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Products' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'addProducts' %}" class="nav-link-light nav-link-dark {{add_products}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Products' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteProducts' %}" class="nav-link-light nav-link-dark {{delete_products}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Products' %}</span>
            </a>
            </li>

            <li class="nav-item" ><a href="{% url 'editProducts' slug='Terrabond A-2021'  %}" class="nav-link-light nav-link-dark {{edit_products}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Products' %}</span>
            </a>
            </li>
          </ul>
        </div>
      </li>
                           <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse-users" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            <span class="ml-2">{% trans 'Users'%}</span>
        </a>
        <div class="collapse" id="dashboard-collapse-users">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <li class="nav-item">
                <a href="{% url 'allUsers' %}" class="nav-link-light nav-link-dark {{all_users}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Users' %} </span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'addUsers' %}" class="nav-link-light nav-link-dark {{add_users}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Users' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteUsers' %}" class="nav-link-light nav-link-dark {{delete_users}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Users' %}</span>
            </a>
            </li>

            <li class="nav-item" ><a href="{% url 'editUsers' %}" class="nav-link-light nav-link-dark {{edit_users}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Users' %}</span>
            </a>
            </li>
          </ul>
        </div>
      </li>
                           <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse-projects" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive"><polyline points="21 8 21 21 3 21 3 8"></polyline><rect x="1" y="3" width="22" height="5"></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg>
                            <span class="ml-2">{% trans 'Projects'%}</span>
        </a>
        <div class="collapse" id="dashboard-collapse-projects">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <li class="nav-item">
                <a href="{% url 'allProjects' %}" class="nav-link-light nav-link-dark {{all_projects}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Projects' %} </span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'addProjects' %}" class="nav-link-light nav-link-dark {{add_projects}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Projects' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteProjects' %}" class="nav-link-light nav-link-dark {{delete_projects}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Projects' %}</span>
            </a>
            </li>

            <li class="nav-item" ><a href="{% url 'editProjects' %}" class="nav-link-light nav-link-dark {{edit_projects}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Projects' %}</span>
            </a>
            </li>
          </ul>
        </div>
      </li>
                           <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse-solutions" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>

                            <span class="ml-2">{% trans 'Solutions'%}</span>
        </a>
        <div class="collapse" id="dashboard-collapse-solutions">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <li class="nav-item">
                <a href="{% url 'allSolutions' %}" class="nav-link-light nav-link-dark {{all_solutions}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Solutions' %} </span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'addSolutions' %}" class="nav-link-light nav-link-dark {{add_solutions}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Solutions' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteSolutions' %}" class="nav-link-light nav-link-dark {{delete_solutions}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Solutions' %}</span>
            </a>
            </li>
            <li class="nav-item" ><a href="{% url 'editSolutions' %}" class="nav-link-light nav-link-dark {{edit_solutions}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Solutions' %}</span>
            </a>
            </li>
          </ul>
        </div>
      </li>
                         <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse-categories" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>

                            <span class="ml-2">{% trans 'Categories'%}</span>
        </a>
        <div class="collapse" id="dashboard-collapse-categories">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <li class="nav-item">
                <a href="{% url 'allCategories' %}" class="nav-link-light nav-link-dark {{all_categories}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Categories' %} </span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'addCategories' %}" class="nav-link-light nav-link-dark {{add_categories}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Categories' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteCategories' %}" class="nav-link-light nav-link-dark {{delete_categories}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Categories' %}</span>
            </a>
            </li>
            <li class="nav-item" ><a href="{% url 'editCategories' %}" class="nav-link-light nav-link-dark {{edit_categories}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Categories' %}</span>
            </a>
            </li>
          </ul>
        </div>
      </li>
                           <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse-address" aria-expanded="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg>

                            <span class="ml-2">{% trans 'Address'%}</span>
        </a>
        <div class="collapse" id="dashboard-collapse-address">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                   <li class="nav-item">
                <a href="{% url 'allCountries' %}" class="nav-link-light nav-link-dark {{all_countries}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Countries' %} </span>
            </a>
            </li>
                     <li class="nav-item">
                <a href="{% url 'allStates' %}" class="nav-link-light nav-link-dark {{all_states}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All States' %} </span>
            </a>
            </li>
              <li class="nav-item">
                <a href="{% url 'allCities' %}" class="nav-link-light nav-link-dark {{all_cities}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Cities' %} </span>
            </a>
            </li>
                     <li class="nav-item">
                <a href="{% url 'allAreas' %}" class="nav-link-light nav-link-dark {{all_areas}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Areas' %} </span>
            </a>
            </li>

            <li class="nav-item"><a href="{% url 'addCountries' %}" class="nav-link-light nav-link-dark {{add_countries}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Countries' %}</span>
            </a>
            </li>
                     <li class="nav-item"><a href="{% url 'addStates' %}" class="nav-link-light nav-link-dark {{add_states}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add States' %}</span>
            </a>
            </li>
                <li class="nav-item"><a href="{% url 'addCities' %}" class="nav-link-light nav-link-dark {{add_cities}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Cities' %}</span>
            </a>
            </li>
                     <li class="nav-item"><a href="{% url 'addAreas' %}" class="nav-link-light nav-link-dark {{add_areas}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Areas' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteCountries' %}" class="nav-link-light nav-link-dark {{delete_countries}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Countries' %}</span>
            </a>
            </li>
              <li class="nav-item"><a href="{% url 'deleteStates' %}" class="nav-link-light nav-link-dark {{delete_states}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete States' %}</span>
            </a>
            </li>
                <li class="nav-item"><a href="{% url 'deleteCities' %}" class="nav-link-light nav-link-dark {{delete_cities}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Cities' %}</span>
            </a>
            </li>
              <li class="nav-item"><a href="{% url 'deleteAreas' %}" class="nav-link-light nav-link-dark {{delete_areas}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Areas' %}</span>
            </a>
            </li>
            <li class="nav-item" ><a href="{% url 'editCountries' %}" class="nav-link-light nav-link-dark {{edit_categories}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Countries' %}</span>
            </a>
            </li>
                  <li class="nav-item" ><a href="{% url 'editStates' %}" class="nav-link-light nav-link-dark {{edit_states}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit States' %}</span>
            </a>
            </li>
                 <li class="nav-item" ><a href="{% url 'editCities' %}" class="nav-link-light nav-link-dark {{edit_cities}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Cities' %}</span>
            </a>
            </li>
                  <li class="nav-item" ><a href="{% url 'editAreas' %}" class="nav-link-light nav-link-dark {{edit_areas}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Areas' %}</span>
            </a>
            </li>
          </ul>
        </div>
      </li>
                               <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse-sliders" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>

                            <span class="ml-2">{% trans 'Sliders'%}</span>
        </a>
        <div class="collapse" id="dashboard-collapse-sliders">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <li class="nav-item">
                <a href="{% url 'allSliders' %}" class="nav-link-light nav-link-dark {{all_sliders}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Sliders' %} </span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'addSliders' %}" class="nav-link-light nav-link-dark {{add_sliders}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Sliders' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteSliders' %}" class="nav-link-light nav-link-dark {{delete_sliders}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Sliders' %}</span>
            </a>
            </li>
            <li class="nav-item" ><a href="{% url 'editSliders' %}" class="nav-link-light nav-link-dark {{edit_sliders}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Sliders' %}</span>
            </a>
            </li>
          </ul>
        </div>
      </li>
                        <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse-selling-points" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>

                            <span class="ml-2">{% trans 'Selling Points'%}</span>
        </a>
        <div class="collapse" id="dashboard-collapse-selling-points">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <li class="nav-item">
                <a href="{% url 'allSellingPoints' %}" class="nav-link-light nav-link-dark {{all_selling_points}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Selling Points' %} </span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'addSellingPoints' %}" class="nav-link-light nav-link-dark {{add_selling_points}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Selling Points' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteSellingPoints' %}" class="nav-link-light nav-link-dark {{delete_selling_points}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Selling Points' %}</span>
            </a>
            </li>
            <li class="nav-item" ><a href="{% url 'editSellingPoints' %}" class="nav-link-light nav-link-dark {{edit_selling_points}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Selling points' %}</span>
            </a>
            </li>
          </ul>
        </div>
      </li>
                          <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse-selling-brochures" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>

                            <span class="ml-2">{% trans 'Brochures'%}</span>
        </a>
        <div class="collapse" id="dashboard-collapse-selling-brochures">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <li class="nav-item">
                <a href="{% url 'allBrochures' %}" class="nav-link-light nav-link-dark {{all_brochures}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Brochures' %} </span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'addBrochures' %}" class="nav-link-light nav-link-dark {{add_brochures}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Brochures' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteBrochures' %}" class="nav-link-light nav-link-dark {{delete_brochures}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Brochures' %}</span>
            </a>
            </li>
            <li class="nav-item" ><a href="{% url 'editBrochures' %}" class="nav-link-light nav-link-dark {{edit_brochures}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Brochures' %}</span>
            </a>
            </li>
          </ul>
        </div>
      </li>
                                <li class="nav-item">
                            <a class="nav-link-light nav-link-dark {{contact_us}}" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline><path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path></svg>
                            <span class="ml-2">{% trans 'Contact Us' %}</span>
                          </a>
                        </li>
                          <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-notifications" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>

                            <span class="ml-2">{% trans 'Notifications'%}</span>
        </a>
        <div class="collapse" id="dashboard-notifications">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <li class="nav-item">
                <a href="{% url 'allBrochures' %}" class="nav-link-light nav-link-dark {{all_notifications}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All Notifications' %} </span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'addBrochures' %}" class="nav-link-light nav-link-dark {{add_notifications}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add Notifications' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteBrochures' %}" class="nav-link-light nav-link-dark {{delete_notifications}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete Notifications' %}</span>
            </a>
            </li>
            <li class="nav-item" ><a href="{% url 'editBrochures' %}" class="nav-link-light nav-link-dark {{edit_notifications}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                 <span class="ml-2">{% trans 'Edit Notifications' %}</span>
            </a>
            </li>
          </ul>
        </div>
      </li>
                         <li class="nav-item">
        <a class=" nav-link-light nav-link-dark collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard-sms-notifications" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>

                            <span class="ml-2">{% trans 'SMS Notifications'%}</span>
        </a>
        <div class="collapse" id="dashboard-sms-notifications">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <li class="nav-item">
                <a href="{% url 'allSMS' %}" class="nav-link-light nav-link-dark {{all_sms_notifications}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
                 <span class="ml-2">{% trans 'All SMS Notifications' %} </span>
            </a>
            </li>
                 <li class="nav-item"><a href="{% url 'addSMSGroup' %}" class="nav-link-light nav-link-dark {{add_sms_group}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add SMS Group' %}</span>
            </a>
            </li>
                 <li class="nav-item"><a href="{% url 'addSMSContact' %}" class="nav-link-light nav-link-dark {{add_sms_contact}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Add SMS Contact' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'sendSMS' %}" class="nav-link-light nav-link-dark {{send_sms}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span class="ml-2">{% trans 'Send SMS Notifications' %}</span>
            </a>
            </li>
            <li class="nav-item"><a href="{% url 'deleteSMS' %}" class="nav-link-light nav-link-dark {{delete_sms_notifications}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                 <span class="ml-2">{% trans 'Delete SMS Notifications' %}</span>
            </a>
            </li>

          </ul>
        </div>
      </li>

                          <li class="nav-item">
                            <a class="nav-link-light nav-link-dark {{reports}}" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            <span class="ml-2">{% trans 'Reports' %}</span>
                          </a>
                        </li>

                      </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                     {% block breadcrumb_content %}
                {% endblock breadcrumb_content %}
                 {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <div class="alert alert-success" role="alert">
                    {{message}}
</div>
            {% elif message.tags == 'info'%}
                <div class="alert alert-info" role="alert">
                    {{message}}
</div>
            {% elif message.tags == 'warning'%}
                <div class="alert alert-warning" role="alert">
                    {{message}}
</div>
            {% elif message.tags == 'error'%}
                <div class="alert alert-danger" role="alert">
                    {{message}}
</div>
            {% endif %}
        {% endfor %}
    {% endif %}

                {% block content %}
                {% endblock content %}


                <footer class="pt-5 d-flex justify-content-between">
                    <span class="copyright-light copyright-dark">{% trans 'Made With' %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>&nbsp;By <a href="#" class="copyright-light">Moay'ed</a> &nbsp;©
                        <script type="text/JavaScript">
                    document.write(new Date().getFullYear());
</script>
                       </span>
                    <ul class="nav m-0">
                        <li class="nav-item">
                          <a class="nav-link-light nav-link-dark footer-links-light footer-links-dark" aria-current="page" href="#">{% trans 'Privacy Policy' %}</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link-light nav-link-dark footer-links-light footer-links-dark" href="#">{% trans 'Terms and conditions' %}</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link-light nav-link-dark footer-links-light footer-links-dark" href="#">{% trans 'Contact' %}</a>
                        </li>
                      </ul>
                </footer>
            </main>

        </div>
    </div>

</body>
</html>