<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% block title %}
{{title}}
{% endblock title %}

{% block content %}
                <h1 class="h2">Dashboard</h1>
                <p>{% trans 'This is the dashboard of Uniseal API System' %}</p>
                <div class="row my-4">
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="card-light card-dark">
                            <h5 class="card-header-light card-header-dark">{% trans 'Users' %}</h5>
                            <div class="card-body-light card-body-dark">
                              <h5 class="card-title">{{users_count}}</h5>
                              <p class="card-text">Feb 1 - Apr 1, United States</p>
                              <p class="card-text text-success">18.2% increase since last month</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="card-light card-dark">
                            <h5 class="card-header-light card-header-dark">{% trans 'Products' %}</h5>
                            <div class="card-body-light card-body-dark">
                              <h5 class="card-title">{{products_count}}</h5>
                              <p class="card-text">Feb 1 - Apr 1, United States</p>
                              <p class="card-text text-success">4.6% increase since last month</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="card-light card-dark">
                            <h5 class="card-header-light card-header-dark">{% trans 'Projects' %}</h5>
                            <div class="card-body-light card-body-dark">
                              <h5 class="card-title">{{projects_count}}</h5>
                              <p class="card-text">Feb 1 - Apr 1, United States</p>
                              <p class="card-text text-danger">2.6% decrease since last month</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="card-light card-dark">
                            <h5 class="card-header-light card-header-dark">{% trans 'Brochures' %}</h5>
                            <div class="card-body-light card-body-dark">
                              <h5 class="card-title">{{brochures_count}}</h5>
                              <p class="card-text">Feb 1 - Apr 1, United States</p>
                              <p class="card-text text-success">2.5% increase since last month</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-11 mb-4 mb-lg-0">
                        <div class="card-light card-dark">
                            <h5 class="card-header-light card-header-dark">Latest Projects</h5>
                            <div class="card-body-light card-body-dark">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Project Name</th>
                                            <th scope="col">Project Title</th>
                                            <th scope="col">category</th>
                                            <th scope="col">Beneficiary</th>
                                            <th scope="col">Description</th>
                                            <th scope="col"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for project in all_projects %}
                                          <tr>
                                            <th scope="row">{{project.name}}</th>
                                            <td>{{project.title}}</td>
                                            <td>{{project.category}}</td>
                                            <td>{{project.beneficiary}}</td>
                                            <td>{{project.description}}</td>
                                            <td><a href="{% url 'projectDetails' slug=project.slug%}" class="btn btn-sm btn-primary">View</a></td>
                                          </tr>
                                        {% endfor %}

                                        </tbody>
                                      </table>
                                </div>
                                <a href="#" class="btn btn-block btn-light">View all</a>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock content %}
