<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Suppliers' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Add Suppliers' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">Add Suppliers</h1>
                <p>{% trans 'Here you can add new suppliers' %}</p>
<div class="card ">
  <div class="card-body">
    <h5 class="card-title">Please Add your suppliers details here</h5>
  <form class="card-form">
  <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.name|as_crispy_field}}
    </div>
  </div>
        <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.image|as_crispy_field}}
    </div>
  </div>
      <div class="mb-4 row">
    <div class="col-sm-6">
             {{form.link|as_crispy_field}}
    </div>
  </div>

       <div class="col-auto">
    <button type="submit" class="btn btn-primary ">{% trans 'Add Supplier' %}</button>
  </div>
</form>
  </div>
</div>
{% endblock content %}
