@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* declaring variables for the --root element */
:root {
  --body-background-color:#fff;
  --headers-colors:#24292e;
  --btn-mode-color:gray;
  --a-copyright-color:#9e1ace;
  --table-color:#333;
  --nav-background-color:#fff;
  --nav-link-color:#333;
  --nav-link-active:#0d6efd;
  --breadcrumb-background-color:#e9ecef;
  --breadcrumb-active:#333;
  --card-background-color:#fff;
  --card-header-background-color:rgba(0,0,0,.03);
  --card-body-background-color:#fff;
  --navbar-brand-color:#333;
  --footer-links-color:#333;
  --copyright-color:#333;
  --copyright-link-color:#333;
  --delete-warning-color:red;
}


body{
    font-family: 'Poppins', sans-serif;
}
.dark-theme{
  --body-background-color:#24292e;
  --headers-colors:#fff;
  --btn-mode-color:#fff;
  --a-copyright-color:#35e6ac;
  --table-color:#fff;
  --nav-background-color:#24292e;
  --nav-link-color:#fff;
  --nav-link-active:#0d6efd;
  --breadcrumb-background-color:#4a4a4a;
  --breadcrumb-active:#fff;
  --card-background-color:#4a4a4a;
  --card-header-background-color:#4a4a4a;
  --card-body-background-color:#24292e;
  --navbar-brand-color:#fff;
  --footer-links-color:#fff;
  --copyright-color:#fff;
  --copyright-link-color:yellow;
  --delete-warning-color:#ffef00;
}
@media (max-width: 767.98px) {
  /*.sidebar {
    top: 11.5rem;
    padding: 0;
  }*/
}
.delete-warning{
color:var(--delete-warning-color);
}

a.nav-link.active{
color:#0d6efd;
}
.navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
 /* .navbar {
    top: 0;
    position: sticky;
    z-index: 999;
  }*/
}
.sidebar{
padding: 2rem 0 0;
box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
/*z-index: 99;
position:absolute;*/
}
.card-light img{
max-width: 100%;
/*height: auto;*/
height: 17rem;
}
/* left button in (all) pages */
.card-update-btn{
position: absolute;
bottom: 2%;
}
/* right button in (all) pages */
.card-more-details-btn{
position: absolute;
bottom: 2%;
left: 50%;
}
.sidebar .nav-link.active {
  color: #0d6efd;
}
.nav-items-div{
width:20rem;
}
.card-form{
margin:2rem;
}
.card-fields{
width:20rem;
}

/* styling pagination section */
.disabled-item{
display:none;
}
.current-page{
background-color:skyblue;
}
th{
white-space:nowrap;
}
.advanced-search{
display:flex;
}
.advanced-search-btn{
margin-left:2rem;
margin-bottom:2rem;
}
.search-select{
width:13rem !important;
}

/* floating sidebar */
.sidenav {
	height: 100%;
	background-color: var(--nav-background-color);
	overflow-x: hidden;
	transition: 0.5s;
	display: block;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: var(--nav-link-color);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--nav-link-color);
}

#close {
font-size: 1rem;
margin-left: 11rem;
display:none;
}
#sidebar-btn-slide{
display:none;
}
/* supporting responsiveness */
@media screen and (max-width:1400px) {
#close{
display:block;
}
#sidebar-btn-slide{
display:inline-block;
}
.span-term{
display:block;
}
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--nav-background-color);
  overflow-x: hidden;
  transition: 0.5s;
  display:none;
  }
  .nav-item > a {
display:flex;
flex-direction:row;
}
.nav-item a::after{
margin-top: 11px;
}
}
@media screen and (max-width:768px) {
.span-term{
display:block;
}
#close{
display:block;
}
 #sidebar-btn-slide{
display:inline-block;
}

}
@media screen and (max-width:576px) {
.span-term{
display:none;
}

}
@media screen and (max-width:575px) {
#close {
display:block;
}

 #sidebar-btn-slide{
display:inline-block;
}
.control-side-bar{
display:none;
}
.span-term{
display:block;
}
.nav-item > a {
display:flex;
flex-direction:row;
}
.nav-item a::after{
margin-top: 11px;
}
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--nav-background-color);
  overflow-x: hidden;
  transition: 0.5s;
  display:none;
  }
  .sidebar{
box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
/*z-index: 99;
position:absolute;*/
}

}