<!DOCTYPE html>
{% extends "dashboard/base.html" %}
{% load static %}
{% load mathfilters %}
{% load static i18n %}
{% block title %}
{{title}}
{% endblock title %}
  {% block custom_css %}
    <link rel="stylesheet" href="{% static 'product/css/product.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/search.css' %}">
    {% endblock %}
   {% block custom_js %}
<script src="{% static 'dashboard/js/search.js' %}" defer></script>
  {{ data_js|json_script:"my-data" }}
    {% endblock %}
         {% block breadcrumb_content %}
   <nav aria-label="crumb">
                    <ol class="crumb breadcrumb-light breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'Selling Points' %}</li>
                        <li class="breadcrumb-item" aria-current="page">{% trans 'All Selling Points' %}</li>
                    </ol>
                </nav>
                {% endblock breadcrumb_content %}
{% block content %}
                <h1 class="h2">{% trans 'All Selling Points' %}</h1>

<form class="row g-2 mb-3" action="" method="post" id="searchForm" autocomplete="off">
    {% csrf_token %}
  <div class="col-sm-3 col-md-3 col-lg-3" id="search_phrase_holder">
    <label for="searchPhrase" class="visually-hidden">{% trans 'Search Phrase' %}</label>
    <input type="text" class="form-control" name="search_phrase" id="searchPhrase" placeholder="Search ..">
          <span class="delete-warning" id="search_phrase_error"></span>
  </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
    <select class="form-select search-select" id="searchBy" name="search_options" aria-label="Default select example">
  <option selected value="none">{% trans 'Search By' %}</option>
  <option value="selling_point_name">{% trans 'Selling Point Name' %}</option>
  <option value="country">{% trans 'Country Name' %}</option>
  <option value="state">{% trans 'State Name' %}</option>
  <option value="city">{% trans 'City Name' %}</option>
  <option value="area">{% trans 'Area Name' %}</option>
</select>
                <span class="delete-warning" id="selection_error"></span>

    </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <button type="submit" class="btn btn-primary mb-3" id="searchButton" value="category">{% trans 'Search' %}</button>
    <button type="submit" name="clear" value="clear" class="btn btn-danger mb-3">{% trans 'Clear Search' %}</button>
             {% if all_selling_points_data|length > 0  %}
      <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#exportData"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
{% endif %}
  </div>
</form>
    <div>
        <div class="modal fade" id="exportData" tabindex="-1" aria-labelledby="exampleModalData" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalData">{% trans 'Export To Excel File' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="" method="post">
            {% csrf_token %}
      <div class="modal-body">
            <h3 class="mb-3">{% trans 'Please Select The Data Structure of Excel File' %}</h3>
          <div>
    <h5 class="mt-4">{% trans 'Choose Columns' %}</h5>
    <i>{% trans '(By default all columns are selected)' %}</i>
    <div class="pages-range mt-2">
        <div class="form-check">
          <label for="name_header" >{% trans 'Selling Point Name' %}</label>
           <input id="name_header" class="form-check-input" type="checkbox" value="point_name" name="point_header">
        </div>
           <div class="form-check">
          <label for="country_header" >{% trans 'Country' %}</label>
           <input id="country_header" class="form-check-input" type="checkbox" value="country" name="country_header">
        </div>
          <div class="form-check">
          <label for="state_header" >{% trans 'State' %}</label>
           <input id="state_header" class="form-check-input" type="checkbox" value="state" name="state_header">
        </div>
          <div class="form-check">
          <label for="city_header" >{% trans 'City' %}</label>
           <input id="city_header" class="form-check-input" type="checkbox" value="city" name="city_header">
        </div>
          <div class="form-check">
          <label for="area_header" >{% trans 'Area' %}</label>
           <input id="area_header" class="form-check-input" type="checkbox" value="area" name="area_header">
        </div>
          <div class="form-check">
          <label for="primary_phone_header" >{% trans 'Primary Phone' %}</label>
           <input id="primary_phone_header" class="form-check-input" type="checkbox" value="primary" name="primary_phone_header">
        </div>
          <div class="form-check">
          <label for="secondary_phone_header" >{% trans 'Secondary Phone' %}</label>
           <input id="secondary_phone_header" class="form-check-input" type="checkbox" value="secondary" name="secondary_phone_header">
        </div>
          <div class="form-check">
          <label for="email_header" >{% trans 'Email' %}</label>
           <input id="email_header" class="form-check-input" type="checkbox" value="email" name="email_header">
        </div>
    </div>
</div>

             <h5 class="mt-3"> {% trans 'Export All Pages' %}</h5>
          <i>{% trans '(By default all pages will be exported)' %}</i>
          <div class="form-check">
          <label for="allData-report" >{%  trans 'All Pages' %}</label>
          <input id="allData-report" class="form-check-input" type="checkbox" value="allData" name="allData">
          </div>


<div>
    <h5 class="mt-4">{% trans 'Or Export Selected Pages Only' %}</h5>

<div class="pages-range">
                 {% for i in page_range %}

              <div class="form-check">
          <label for="select{{i}}" >page{{i}}</label>
          <input id="select{{i}}" class="form-check-input page-js" type="checkbox" value="{{i}}" name="subData">

          </div>

                 {% endfor %}
    </div>
      <input hidden type="text" name="pages_collector" id="pages_collector" value="none">


    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" name="createExcel" value="done">Save</button>

      </div>
              </form>
    </div>
  </div>
</div>

    </div>



  {% if  search and not search_error %}
<h2>{% trans 'Showing Search Results For ' %}</h2>
<h3>{{search_option}}="{{search_phrase}}"</h3>
{% endif %}
{% if all_selling_points_data|length %}
<div class="row card-group">

{% for point in all_selling_points_data %}

 <div class="col-sm col-md-5 col-lg-4">
                <div class="card-light mb-5 ml-2" >
  <img class="card-img-top card-image-product" src="{{point.image.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{point.name}}</h5>
    <p class="card-text">
        {% trans 'Country:' %} {{point.country.name}}
    </p>
      <p class="card-text">
        {% trans 'City:' %} {{point.city.name}}
    </p>
        <p class="card-text">
        {% trans 'Area:' %} {{point.area.name}}
    </p>
       <p class="card-text">
              <a href="{% url 'sellingPointDetails' slug=point.slug %}" class="btn btn-primary mr-2 mb-3">More Details</a>

     <a href="{{point.location}}" class="btn btn-primary mr-3 mb-3">{% trans 'Visit Location' %}</a>

    </p>
  </div>
</div>
 </div>

{% endfor %}
</div>
 <div class="container mt-3 d-flex justify-content-center">
        <nav aria-label="Pagination Navigation">
          <ul class="pagination">
           <li class="page-item {% if current_page == 1 %} disabled disabled-item {% endif %}">
            <a class="page-link" href="?page={{ current_page|sub:1 }}" aria-label="Previous">
             <span aria-hidden="true">«</span>
             <span class="sr-only">Previous</span>
            </a>
           </li>
             {% if page_range|length != 1 %}
           {% for i in page_range %}
           <li class="page-item {% if i == current_page %} active {% endif %}"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
           {% endfor %}
                 {% endif %}


           <li class="page-item {% if current_page == num_pages %} disabled disabled-item {% endif %}">
            <a class="page-link" href="?page={{ current_page|add:1 }}" aria-label="Next">
             <span aria-hidden="true">»</span>
             <span class="sr-only">Next</span>
            </a>
           </li>
          </ul>
       </nav>
  </div>
{% endif %}
{% if all_selling_points_data|length == 0 and not search %}
<h3 class="delete-warning">{% trans 'There is no selling points yet .. you can add new ones from ' %} <a href="{% url 'addSellingPoints' %}">{% trans 'Here' %}</a></h3>
{% endif %}
{% if search and search_result.count == 0 and search_result != "" %}
<h3 class="delete-warning">{% trans 'Sorry no selling points found that matches your search!' %}</h3>
{% endif %}
{% endblock content %}

